<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.automation.Test2"/>
      <class name="com.automation.Test3"/>
      <class name="com.automation.Test1"/>
      <class name="main.automation.Test4"/>
      <class name="main.automation.Test5"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
